.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}