    .rodapePrincipal-navMap-list {
        display: flex;
        /*flex-direction: column;
    flex-wrap: wrap;
    flex-flow substitui os outros dois a cima*/
        flex-flow: column wrap;
        height: 200px;
    }